page-add-item {
    ion-header{
        background-color: map-get($colors , genBackground);
    }
    .add-title{
        color: map-get($colors , primary );
    }
    .no-padding{
        padding: 0 !important
    }
    .full-button{
        width: 100%;
    }
    .title-nav{
        color: white;
    }
    .basic-info{
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
}
