page-orders {

    ion-header{
        background-image: url('../assets/img/start/nav-header-background.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        height: 150px;
    }
    .title{
        color: map-get($colors , primary );
    }
    .list-item{
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        background-color: #E2E2E2;
    }

}
